/* *{
    margin: 0;
    padding: 0;
} */
body{
    font-size: 40px;
}

#thm-badge {
    width: 100%;
    height: auto;
}
/* Style pour les titres */
h1 {
    color: #2E86C1;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #2E86C1;
}

/* Style pour les boutons */
.stButton>button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
img {
    
    width: 350px;
    height: 350px;
    border-radius: 175px;
    overflow: hidden;
    margin: 0 auto;
}


.stButton>button:hover {            
    background-color: #45a049;
}

/* Style pour les citations */
blockquote {
    border-left: 5px solid #4CAF50;
    padding-left: 10px;
    color: #555;
    font-style: italic;
}

/* Style pour les colonnes */
.stColumn {
    padding: 10px;
}

/* Style pour les onglets
.stTabs [data-baseweb="tab-list"] {
    gap: 10px;
}

.stTabs [data-baseweb="tab"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
} */

/* .stTabs [data-baseweb="tab"]:hover {
    background-color: #e0e0e0;
}

.stTabs [aria-selected="true"] {
    background-color: #4CAF50;
    color: white;
} */